.nav-enlace{
    display: inline-block;
    background: rgb(255, 36, 12);
    color:#ffffff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(255, 101, 101);
}
nav{
    background: rgb(134, 26, 241);
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: salmon;
    display: none;
}

@media (max-width: 500px) {
    nav{
        background: rgb(255, 251, 0);
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        color: #fff;
        padding: 10px 0;
        border: 2px solid #fff;
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
} 