h1{
    background: #00fa0c;
    margin-left:100px;
    margin-bottom:200px;
    margin:100px; 
    /* margin: 200px 100px; 
    margin: 100px 10px 20px 500px; */
}
p{
    background: #ff0051;
    padding: 100px;
}